a {
  text-decoration: none;
  color: black;
}

h2 {
  width: 15%;
  padding: .5vw 0vw .5vw 6.5vw;
  background-color: black;
  color: white;
  margin-bottom: 3vw;
  margin-top: 7.5vw;
  font-size: 2vw;
}

.navbar {
  color: black;
  font-size: 1.5vw;
  width: 100%;
  height: 6vw;
  top: 0;
  right: 0;
  padding-top: 1vw;
  padding-right: 2.8vw;
  margin: auto;
  position: fixed;
  z-index: 5;
}

.navbar .logo {
  background-image: url("../assets/Logo_Transparent.png");
  background-repeat: no-repeat;
  background-size: contain;
  height: 4.5vw;
  margin-left: 4.5vw;
  margin-bottom: 0;
  position: fixed;
  width: 5vw;
}

.navbar p {
  font-size: 1.5;
  padding-left: 10.5vw;
  position: fixed;
}

.navbar ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  float: right;
  list-style-type: none;
  text-decoration: none;
}

.navbar ul li {
  padding-left: 2.8vw;
}

.navbar ul .nav {
  color: black;
}

.navbar ul .nav:hover {
  color: #4ac2c8;
  -webkit-transition: width 0.35s ease 0s;
  transition: width 0.35s ease 0s;
}

.landing {
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-bottom: 3vw;
}

.landing h1 {
  position: absolute;
  z-index: 1;
  font-size: 3vw;
  width: 35vw;
  left: 7%;
  top: 16%;
  letter-spacing: 1.8vw;
  background: white;
  padding-left: 3vw;
  color: BLACK;
}

.landing .color-block {
  height: 100%;
  background-color: black;
  width: 35%;
  position: relative;
}

.landing .color-block .intro-textbox {
  position: absolute;
  bottom: 0;
  left: 20%;
  height: 32vh;
  font-weight: 400;
  width: 60%;
  padding-bottom: 2vw;
  color: white;
}

.landing .color-block .intro-textbox h4 {
  margin: 0;
  font-size: 1.2vw;
  font-weight: 600;
}

.landing .color-block .intro-textbox p {
  font-size: 1vw;
  margin-bottom: 2.2vw;
}

.landing .intro-image {
  background-image: url("../assets/benson- drip portrait-01.png");
  background-size: 60%;
  background-repeat: no-repeat;
  background-position: center;
  width: 65%;
}

section {
  height: 70vh;
  position: relative;
}

section .section-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 78%;
  margin: auto;
  background-color: white;
  padding: 4vw;
  font-size: 1.2vw;
}

.overview-textbox {
  width: 45%;
}

.overview-textbox h4 {
  margin: 0;
  padding: 0;
}

.overview-textbox p {
  padding-bottom: 3vw;
}

.gallery {
  position: relative;
  width: 34%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

.gallery .gallery-image {
  width: 12vw;
  height: 12vw;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  -webkit-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
          box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  margin: .5vw;
}

.gallery .ben {
  background-image: url("../assets/benson- drip portrait-04.png");
}

.gallery .ben2 {
  background-image: url("../assets/benson- drip portrait-05.png");
}

.gallery .ben3 {
  background-image: url("../assets/benson- drip portrait-02.png");
}

.gallery .ben4 {
  background-image: url("../assets/benson- drip portrait-03.png");
}

.gallery .earnest {
  background-image: url("../assets/Earnest Washington_ Boondocks-01.png");
}

.gallery .earnest2 {
  background-image: url("../assets/Earnest Washington v2.png");
}

.gallery .earnest3 {
  background-image: url("../assets/boondocks logo.jpg");
  background-size: 90%;
}

.gallery .earnest4 {
  background-image: url("../assets/boondocks people.jpg");
}

.gallery .aaron {
  background-image: url("../assets/Aaron - SU-Gold1.png");
}

.gallery .aaron2 {
  background-image: url("../assets/Aaron - SU-Silver1.png");
}

.gallery .aaron3 {
  background-image: url("../assets/steven universe logo.jpg");
  background-size: 100%;
}

.gallery .aaron4 {
  background-image: url("../assets/steven universe people.png");
}

footer {
  text-align: center;
  position: absolute;
  left: 0;
  right: 0;
  background-color: none;
  width: 100%;
  font-size: 1vw;
  margin-top: 1vw;
}
/*# sourceMappingURL=comissions.css.map */